@using Newtonsoft.Json.Linq;
@model JObject
@{
    ViewBag.Title = "EditThreeModule";
}

<div>
    <form class="form-inline" action="@Url.Action("EditThreeModule")" enctype="multipart/form-data" method="post" role="form">
        <div class="form-group">
            <label class="sr-only" for="name">名称</label>
            <input type="text" value="@Model["url"]" name="url" class="form-control" id="name" placeholder="请输入名称">
        </div>
        <div class="form-group">
            <label class="sr-only" for="inputfile">文件输入</label>
            <input type="file" name="file" id="inputfile">
        </div>
        <div>
            <img src="@Model["path"]" alt="Alternate Text" />
        </div>
        <button type="submit" class="btn btn-default">提交</button>
    </form>
</div>
